appdirs==1.4.4
astroid==2.12.5
basemap==1.3.4
basemap-data==1.3.2
basemap-data-hires==1.3.2
black==22.8.0
bleach==5.0.1
bokeh==2.4.3
Cartopy==0.21.0
certifi==2022.9.14
cftime==1.6.1
charset-normalizer==2.1.1
click==8.1.3
cloudpickle==2.2.0
colorcet==3.0.0
contourpy==1.0.5
cycler==0.11.0
dask==2022.9.1
datashader==0.14.2
datashape==0.5.2
dill==0.3.5.1
distributed==2022.9.1
flake8==5.0.4
fonttools==4.37.2
fsspec==2022.8.2
HeapDict==1.0.1
holoviews==1.15.0
hvplot==0.8.1
idna==3.4
isort==5.10.1
Jinja2==3.0.3
kiwisolver==1.4.4
lazy-object-proxy==1.7.1
llvmlite==0.39.1
locket==1.0.0
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.5.3
mccabe==0.7.0
MetPy==1.3.1
msgpack==1.0.4
multipledispatch==0.6.0
mypy-extensions==0.4.3
ncplot==0.2.4
netCDF4==1.6.1
nose==1.3.7
numba==0.56.2
numpy==1.23.3
packaging==21.3
pandas==1.4.4
panel==0.13.1
param==1.12.2
partd==1.3.0
pathspec==0.10.1
Pillow==9.2.0
Pint==0.19.2
platformdirs==2.5.2
pooch==1.6.0
psutil==5.9.2
pycodestyle==2.9.1
pyct==0.4.8
pyflakes==2.5.0
pyinotify==0.9.6
pylint==2.15.0
pyparsing==3.0.9
pyproj==3.3.1
pyshp==2.3.1
python-dateutil==2.8.2
pytz==2022.2.1
pyviz-comms==2.2.1
PyYAML==6.0
requests==2.28.1
scipy==1.9.1
Shapely==1.8.4
six==1.16.0
sortedcontainers==2.4.0
tblib==1.7.0
thread6==0.2.0
tomli==2.0.1
tomlkit==0.11.4
toolz==0.12.0
tornado==6.1
tqdm==4.64.1
traitlets==5.4.0
typing_extensions==4.3.0
urllib3==1.26.12
webencodings==0.5.1
wrapt==1.14.1
xarray==2022.6.0
zict==2.2.0
